android/android.keystore
android/android.keystore.dname
android/app/
android/gradle/
android/gradlew
android/gradlew.bat
android/gradle.properties
android/settings.gradle
android/build.gradle
android/store_icon.png
android/manifest-checksum.txt
android/*.apk
android/*.aab
android/app-release-bundle/
android/app-release-unsigned-aligned.apk
android/assetlinks.json
android/.gradle/
android/build/
android/node_modules/
android/package-lock.json
node_modules/
dist/
android/gradle/
android/gradlew
android/gradlew.bat
android/gradle.properties
android/settings.gradle
android/build.gradle
android/store_icon.png
android/manifest-checksum.txt
android/*.apk
android/*.aab
android/app-release-bundle/
android/app-release-unsigned-aligned.apk
android/assetlinks.json
android/.gradle/
android/build/
android/node_modules/
android/package-lock.json
node_modules/
dist/
